0x0C-python-almost_a_circle/models/__pycache__/__init__.cpython-310.pyc
0x0C-python-almost_a_circle/models/__pycache__/base.cpython-310.pyc
0x0C-python-almost_a_circle/models/__pycache__/rectangle.cpython-310.pyc
0x0C-python-almost_a_circle/models/__pycache__
